{% extends "layouts/authenticated.html" %}
{% block title %} Your Wallet {% endblock %}
{% block content %}
    <div id="app">
        <div class="app-container lobby-container">
            <!-- Wallet Info Button -->
            <button class="wallet-info-button">
                <span class="wallet-address">Welcome back {{ user_data.first_name }} {{ user_data.last_name }}!</span>
                <span id="wallet-balance"
                      class="wallet-balance">{{ wallet_address[:6] }}...{{ wallet_address[-4:] }}</span>
            </button>

            <!-- Currency Balance Buttons -->
           {% include "partials/currency_buttons.html" %}

            <!-- Get Verified Button -->
            {% if not approved %}
                <button class="action-button primary-button" onclick="window.location.href='{{ url_for('user.kyc', profile_id=user_data.id) }}'">
                    Get Verified
                </button>
            {% endif %}

            {% if approved %}
                <!-- Action Buttons -->
                <div class="action-buttons-grid">
                    <button id="deposit-btn" class="action-button secondary-button"
                            onclick="window.location.href='{{ url_for('transaction.new', type='deposit') }}'">
                        Deposit
                    </button>
                    <button id="withdraw-btn" class="action-button secondary-button"
                            onclick="window.location.href='{{ url_for('transaction.new', type='withdraw') }}'">
                        Withdraw
                    </button>
                    <button id="swap-btn" class="action-button secondary-button"
                            onclick="alert('Swap functionality coming soon')">
                        Swap
                    </button>
                    <button id="liquidity-btn" class="action-button secondary-button"
                            onclick="alert('Liquidity functionality coming soon')">
                        Liquidity
                    </button>
                </div>
            {% endif %}

            <!-- Disconnect Button -->
            <button type="button" id="disconnect-btn" class="disconnect-button-lobby"
                    onclick="clearAuthToken('{{ url_for("auth.logout") }}')">
                Disconnect Wallet
            </button>
        </div>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script src="{{ url_for('static', filename='aux/common.js') }}"></script>
{% endblock %}
