<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Verification Successfully Completed</title>
    <!-- plugins:css -->
    <link href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-info-subtle">
            <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-black">
                    <div class="row align-items-center d-flex flex-row">
                        <div class="col-lg-6 text-lg-right pr-lg-4">
                            <h1 class="display-1 mb-0">On it</h1>
                        </div>
                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                            <h2>Hang On...</h2>
                            <h3 class="font-weight-light">
                                We are still working to verify your identity, this may take only a few minutes.
                            </h3>
                            <hr/>
                            If after 10 minutes this is not resolved, please email support@mykobo.co.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
</body>
</html>